<section class="modern-gallery" id="roupas" aria-labelledby="modern-gallery-title">
  <div class="container">
    <div class="section-title">
      <h2 id="modern-gallery-title">Nossa Coleção</h2>
      <p>Vista-se com o melhor estilo e qualidade.</p>
    </div>

    <div class="gallery-grid">
      <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/8.png', 'Roupa Exclusiva')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/8.png" alt="Roupa Exclusiva " loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>

      <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/9.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/9.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>

      <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/10.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/10.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>
          <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/11.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/11.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>
          <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/12.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/12.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>
       <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/13.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/13.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>
       <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/14.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/14.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>
       <div class="gallery-item" (click)="openModal('https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/15.png', '')">
        <img src="https://raw.githubusercontent.com/fluxodigitaltech/img-darks/refs/heads/main/15.png" alt="" loading="lazy">
        <div class="overlay">
          <span class="view-text">Ver Detalhes</span>
        </div>
      </div>

      </div>
  </div>

  <div class="image-modal" [class.active]="isModalOpen" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closeModal()">&times;</span>
      <img [src]="currentImageSrc" [alt]="currentImageAlt">
      <div class="modal-caption">{{ currentImageAlt }}</div>
    </div>
  </div>
</section>