<footer id="contact">
    <div class="container">
      <div class="footer-container">
        <div class="footer-logo">
          <h4>DARK<span class="highlight">'S</span> <span>GYM</span></h4>
          <p>Elite Performance Center. Mais que uma academia, um estilo de vida.</p>
          <div class="social-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        
        <div class="footer-links">
          <h5>Links</h5>
          <ul>
            <li><a (click)="scrollTo('about')">Sobre Nós</a></li>
            <li><a (click)="scrollTo('space')">Nosso Espaço</a></li>
            <li><a (click)="scrollTo('plans')">Planos</a></li>
            <li><a (click)="scrollTo('contact')">Contato</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        
        <div class="footer-links">
          <h5>Horários</h5>
          <ul>
            <li><a href="#">Segunda a Sexta: 5h - 23h</a></li>
            <li><a href="#">Sábado: 7h - 20h</a></li>
            <li><a href="#">Domingo: 8h - 14h</a></li>
            <li><a href="#">Plantão 24h para VIP</a></li>
          </ul>
        </div>
        
        <div class="footer-links">
          <h5>Contato</h5>
          <ul>
            <li><a href="#">Rua Elite, 123 - Centro</a></li>
            <li><a href="mailto:contato@darksgym.com">contato</a></li>
            <li><a href="tel:+5511999999999">(11) 99999-9999</a></li>
            <li><a href="#">Trabalhe Conosco</a></li>
          </ul>
        </div>
      </div>
      
      <div class="copyright">
        © 2024 DARK'S GYM. Todos os direitos reservados. | Desenvolvido com ❤️ para atletas de elite
      </div>
    </div>
  </footer>