<footer id="contact">
  <div class="container">
    <div class="footer-container">
      <div class="footer-logo">
        <h4>DARK<span class="highlight">'S</span> <span>GYM</span></h4>
        <p>Mais que uma academia, um estilo de vida.</p>
        <div class="social-links">
          <a href="https://www.instagram.com/darksgymsantoandre"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      
      <div class="footer-links">
        <h5>Links</h5>
        <ul>
          <li><a (click)="scrollTo('about')">Sobre Nós</a></li>
          <li><a (click)="scrollTo('space')">Nosso Espaço</a></li>
          <li><a (click)="scrollTo('contact')">Contato</a></li>
        </ul>
      </div>
      
      <div class="footer-links">
        <h5>Horários</h5>
          <ul>
            <li><a href="#">Aberto 24h, todos os dias</a></li>
          </ul>
      </div>
      
      <div class="footer-links">
        <h5>Contato</h5>
        <ul>
          <li><a href="#">Av. Martim Francisco, 786 - Vila Alto de Santo André, Santo André, SP, 09230-700</a></li>
          <li><a href="mailto:contato@darksgym.com"></a></li>
          <li><a href="https://www.instagram.com/darksgymsantoandre">Trabalhe Conosco</a></li>
        </ul>
      </div>
    </div>
    
    <div class="copyright">
      © 2024 DARK'S GYM. Todos os direitos reservados. | Desenvolvido com ❤️ para atletas de elite
    </div>
  </div>
</footer>
