<header id="header" [class.scrolled]="isScrolled" role="banner">
  <div class="container header-container">
    <div class="logo">
      <img src="https://i.postimg.cc/6qgqqXFG/logo-DARK.jpg" 
           alt="Dark's Gym Logo - Página inicial" 
           class="logo-img"
           width="100" 
           height="50">
      <h1>DARK<span class="apostrophe-s">'S</span>  <span>GYM</span></h1>
    </div>
    <nav class="nav-links" aria-label="Navegação principal">
      <a (click)="scrollTo('sobre')" 
         class="menu-item" 
         role="button"
         tabindex="0"
         aria-label="Ir para seção Sobre">Sobre</a>
         <a (click)="scrollTo('suplementos')" 
         class="menu-item" 
         role="button"
         tabindex="0"
         aria-label="Ir para seção Suplemento">Suplemento</a>
      <a (click)="scrollTo('espaco')" 
         class="menu-item" 
         role="button"
         tabindex="0"
         aria-label="Ir para seção Espaço">Espaço</a>
      <a (click)="scrollTo('equipamentos')" 
         class="menu-item" 
         role="button"
         tabindex="0"
         aria-label="Ir para seção Contato">Equipamentos</a>
      <a href="https://chat.whatsapp.com/Jt4DJOdlkCQ6XBhsKgnsh1?fbclid=PAZXh0bgNhZW0CMTEAAae52mxzIOr0EhuXtRnf0iq3HdUlFoqYBqa0ycUCy3tPr-nzNPsjG6MmTm_VXQ_aem_cxrqSQ5H01bN1huhP_vDTQ"
         class="btn btn-outline" 
         aria-label="Entrar no grupo do Dark's Gym (abre em nova janela)"
         target="_blank">ENTRAR NO GRUPO</a>
    </nav>
  </div>
</header>