<header id="header" [class.scrolled]="isScrolled">
  <div class="container header-container">
    <div class="logo">
      <img src="https://i.postimg.cc/6qgqqXFG/logo-DARK.jpg" alt="Dark's Gym Logo" class="logo-img">
      <h1>DARK<span class="apostrophe-s">'S</span>  <span>GYM</span></h1>
    </div>
    <nav class="nav-links">
      <a (click)="scrollTo('about')" class="menu-item">Sobre</a>
      <a (click)="scrollTo('space')" class="menu-item">Espaço</a>
      <a (click)="scrollTo('contact')" class="menu-item">Contato</a>
      <a href="https://exemplo.com/grupo" class="btn btn-outline">ENTRAR NO GRUPO</a>
    </nav>
  </div>
</header>
