<section class="newsletter" id="newsletter">
    <div class="container">
      <div class="newsletter-container">
        <h3>LISTA VIP</h3>
        <p>Cadastre-se para ter acesso exclusivo à pré-venda de planos e condições especiais de inauguração.</p>
        
        <form class="newsletter-form" (ngSubmit)="onSubmit()" #newsletterForm="ngForm">
          <input 
            type="email" 
            placeholder="Seu melhor e-mail" 
            required
            [(ngModel)]="email"
            name="email"
            #emailInput="ngModel"
            [class.invalid]="emailInput.invalid && emailInput.touched"
          >
          <button type="submit" [disabled]="newsletterForm.invalid">QUERO FAZER PARTE</button>
        </form>
      </div>
    </div>
  </section>