<!-- Seu conteúdo atual -->
<app-header></app-header>
<app-hero></app-hero>
<app-highlights></app-highlights>
<app-supplement></app-supplement>
<app-premium-space></app-premium-space>
<app-newsletter></app-newsletter>
<app-footer></app-footer>

<!-- Botão flutuante do WhatsApp -->
<div class="floating-group-button">
  <a href="https://chat.whatsapp.com/JumUgasAEJeEDDCqTY6GTe?fbclid=PAZXh0bgNhZW0CMTEAAadIJfLMONqLmx3l575TDXtrvJR4PaHIT8Hej9O0CbTDT9Iooowh36K0CH7B2Q_aem_jL9ROAysIEkWHqcJb3upLg" target="_blank" rel="noopener noreferrer">
    <div class="icon-container">
      <i class="fab fa-whatsapp"></i>
    </div>
    <span class="button-text">Entre agora no grupo</span>
  </a>
</div>